*{
    padding-bottom: 3px;
    padding-top: 2px;
}

.navbar {
    background-image: url(images/fondonavbar.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0px;
}

.titulo {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: #FDFEFE;
    justify-content: center;
    padding-top: 10px;   
}
.objetos{
    display: inline;
    text-align: right;
    padding: 2px;
    width: 100%;
    align-items: center;
}
.menuvar:hover{
    text-decoration: underline;
    background-color: white;
}

a{
    text-decoration: none !important;
}
.botones{
    align-items: right;
    justify-content: right;
    padding-right: 0px;
}

#logo {
    width: 30px;
    height: 30px;
}
.botonnav {
    background-color: transparent;
    border-radius:2px, solid;
    font-size: 15px;
    font-style: bold;
    color: black;
    align-items:right;
    
}
@media (max-width: 755px),(min-width: 255px) {
    .titulo, .botones, .objetos {
        text-align: center !important;
    }

}

.section {
    background-color: #808080;
    background-image: url(https://qph.cf2.quoracdn.net/main-qimg-d7fa0f11fb37da111c6a83be5868092a-lq);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
}
.sectionlarge{
    background-color: #808080;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
}

#separador {
    width: 100%;
    height: 20px;
    margin: 0px;
    padding: 0px;
   
}
h1, h2, h3, h4, h5{
    color: white;
    text-align: center;
}

.title {
    color: white;
    text-align:center !important;
    align-items: right;
    justify-content:center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    margin: 0;
    padding-top: 45px;
    
}
.carousel {
    align-items: center;
   
    
}
.carousel .carousel-inner .carousel-item img{
    width: 50%;
    height: 400px;
    padding: 10px;
    border-radius:50px;
}
#image {
    width: 350px;
    height:150px;  
    padding: 15px;
    margin: auto;
}
#image2 {
    width: 350px;
    height:100px;  
    padding: 15px;
    margin: auto;
}

.menu{
    margin: 5px;
    padding: 10px;
    align-items: center;
    font-weight: bold;
    font-family: 'Lobster';
    display: absolute;
}
#texto-foto {
    color: red;
}
@media (max-width: 755px){
    .carousel{
        display: none;
    }
    img {
        height: 100%;
        width: 100%;
        border: 1px solid #27018D;
        border-radius: 50px;
    }
}

h1 {
    text-decoration: underline;
}
p{
    padding:5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.rrhh {
    padding: 5px;
    text-align: center;
    box-shadow: 10px 5px 5px #27018D;
    border-radius:15px;
    margin: 10px;
    color: black;
    background-image: url(images/rrhh.jpg);
    opacity: 0.7;
    background-position: 50% 50%;
    width: 350px;
    height: 300px;
}
.dev {
    padding: 5px;
    text-align: center;
    box-shadow: 10px 5px 5px #27018D;
    border-radius:15px;
    margin: 10px;
    color: white;
    background-image: url(images/dev.jpg);
    width: 350px;
    height: 300px;
}

.data {
    padding: 5px;
    text-align: center;
    box-shadow: 10px 5px 5px #27018D;
    border-radius:15px;
    margin: 10px;
    color: black;
    background-image: url(images/data.jpg);
    background-position: 50% 50%;
    opacity: 0.8;
    width: 350px;
    height: 300px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
#texto-foto {
    font-family: 'Lobster';
    font-weight:bold;
    color: red;
    margin: 0px;
}
@media (max-width: 755px){
    .card {
        height: 100%;
        width: 100%;
        margin: 5px;
    }
}

a{
    text-decoration: none !important;
    color: white;
}

.cardc {
    border: 2px solid white;
    border-radius: 30px;
    padding: 13px
}


.tarjeta {
    border: 2px solid;
    text-decoration: none;
    text-align: center;
    color: white;
    
}
#agira {
    width: 350px; 
    height: 150px;
}
ul{
    margin-left: 50px;
    align-items: center;
}

footer {
    background-image: url(images/fondonavbar.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0px;
    color: white;
    text-align: center;
}
